@media (min-width: 966px) {
	.nav {
        padding: 2em;
        flex-direction: row;
		.desktop-items {
			margin-top: 0;
            gap: 15px;

			p {
				font-size: 1rem;
			}
		}
	}

	main {
		.planet-box {
			&__info {
				margin: 1em 0;
			}
		}
	}

	
}
