//plantes color
$mercColor: #419ebb;
$venusColor: #eda249;
$earthColor: #6d2ed5;
$marsColor: #d14c32;
$jupiterColor: #d83a34;
$saturnColor: #cd5120;
$uranColor: #1ec1a2;
$neptunColor: #2d68f0;

//otherColors
$mainWhite: #fff;
$mainBlack: #070724;
$darkGrey: #38384f;
$lightGrey: #838391;
$backgroundColor: #070724;

